components:
  securitySchemes:
    basic:
      scheme: basic
      type: http
    bearer:
      scheme: bearer
      type: http
info:
  description: Automatically generated by Akita SuperLearn (https://akitasoftware.com)
  title: OpenAPI Spec by Akita
  version: 0.0.1
openapi: 3.0.0
paths:
  /:
    get:
      operationId: GET /
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Fetch-User
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: cookie
        name: __cfruid
        schema:
          type: string
      - in: cookie
        name: intercom-device-id-tvzzvnz7
        schema:
          type: string
          x-akita-format:
            formats:
            - uuid
            kind: unique_id
      - in: cookie
        name: intercom-id-tvzzvnz7
        schema:
          type: string
          x-akita-format:
            formats:
            - uuid
            kind: unique_id
      - in: cookie
        name: intercom-session-tvzzvnz7
        schema:
          type: string
      - in: cookie
        name: messagesUtk
        schema:
          type: string
          x-akita-format:
            formats:
            - uuid
            kind: unique_id
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: 200 response
          headers:
            Accept-Ranges:
              schema:
                type: string
            Age:
              schema:
                format: int64
                type: integer
            Etag:
              schema:
                type: string
            Last-Modified:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - rfc_1123
                  - rfc_2822
                  kind: datetime
            Server:
              schema:
                type: string
            Via:
              schema:
                type: string
            X-Amz-Cf-Id:
              schema:
                type: string
            X-Amz-Cf-Pop:
              schema:
                type: string
            X-Cache:
              schema:
                type: string
      servers:
      - url: http://app-ak.accuknox.com
  /api/{arg2}/envelope/:
    post:
      operationId: POST /api/{arg2}/envelope/
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - examples:
          "6228396":
            value: "6228396"
        in: path
        name: arg2
        schema:
          format: int64
          type: integer
      - in: query
        name: sentry_key
        schema:
          type: string
          x-akita-format:
            formats:
            - uuid
            kind: unique_id
      - in: query
        name: sentry_version
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: 200 response
          headers:
            Access-Control-Expose-Headers:
              schema:
                type: string
            Alt-Svc:
              schema:
                type: string
            Server:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Via:
              schema:
                type: string
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
      servers:
      - url: http://o287643.ingest.sentry.io
  /api/v1/assets/asset-types-count:
    get:
      operationId: GET /api/v1/assets/asset-types-count
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: Tenant-Id
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  Apps:
                    format: int64
                    type: integer
                  Cloud:
                    format: int64
                    type: integer
                  Clusters:
                    format: int64
                    type: integer
                  Containers:
                    format: int64
                    type: integer
                  Hosts:
                    format: int64
                    type: integer
                  Web/API:
                    format: int64
                    type: integer
                type: object
          description: 200 response
          headers:
            Allow:
              schema:
                type: string
            Server:
              schema:
                type: string
            Vary:
              schema:
                type: string
      security:
      - bearer: []
      servers:
      - url: http://api-divy.dev.accuknox.com
  /api/v1/assets/assets-chart-data:
    get:
      operationId: GET /api/v1/assets/assets-chart-data
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: Tenant-Id
        schema:
          format: int64
          type: integer
      - in: query
        name: date_from
        schema:
          type: string
          x-akita-format:
            formats:
            - iso_8601_year_month_day
            kind: datetime
      - in: query
        name: date_to
        schema:
          type: string
          x-akita-format:
            formats:
            - iso_8601_year_month_day
            kind: datetime
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: 200 response
          headers:
            Allow:
              schema:
                type: string
            Server:
              schema:
                type: string
            Vary:
              schema:
                type: string
      security:
      - bearer: []
      servers:
      - url: http://api-divy.dev.accuknox.com
  /api/v1/assets/filter-choices:
    get:
      operationId: GET /api/v1/assets/filter-choices
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: Tenant-Id
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data_types:
                    items:
                      items:
                        type: string
                      type: array
                    type: array
                  obj_type:
                    items:
                      type: string
                      x-akita-info: Akita only saw empty lists for this field, so
                        we picked type `string` for the list elements by default.
                    type: array
                type: object
          description: 200 response
          headers:
            Allow:
              schema:
                type: string
            Server:
              schema:
                type: string
            Vary:
              schema:
                type: string
      security:
      - bearer: []
      servers:
      - url: http://api-divy.dev.accuknox.com
  /api/v1/clients:
    get:
      operationId: GET /api/v1/clients
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  properties:
                    id:
                      format: int64
                      type: integer
                      x-akita-format:
                        formats:
                        - integer_id
                        kind: unique_id
                    name:
                      type: string
                      x-akita-format:
                        formats:
                        - rfc_5322_email
                        kind: email
                  type: object
                type: array
          description: 200 response
          headers:
            Allow:
              schema:
                type: string
            Server:
              schema:
                type: string
            Vary:
              schema:
                type: string
      security:
      - bearer: []
      servers:
      - url: http://api-divy.dev.accuknox.com
  /api/v1/dashboard/image-risks:
    post:
      operationId: POST /api/v1/dashboard/image-risks
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: Tenant-Id
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  image_severity:
                    properties:
                      critical:
                        format: int64
                        type: integer
                      high:
                        format: int64
                        type: integer
                      low:
                        format: int64
                        type: integer
                      medium:
                        format: int64
                        type: integer
                      negligible:
                        format: int64
                        type: integer
                      no_issue:
                        format: int64
                        type: integer
                    type: object
                  total_vuln:
                    format: int64
                    type: integer
                  updated_at:
                    format: int64
                    type: integer
                    x-akita-format:
                      formats:
                      - timestamp_seconds_since_epoch
                      kind: datetime
                type: object
          description: 200 response
          headers:
            Allow:
              schema:
                type: string
            Server:
              schema:
                type: string
            Vary:
              schema:
                type: string
      security:
      - bearer: []
      servers:
      - url: http://api-divy.dev.accuknox.com
  /api/v1/dashboard/image-severity-issue:
    post:
      operationId: POST /api/v1/dashboard/image-severity-issue
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: Tenant-Id
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  image_severity:
                    properties:
                      critical:
                        format: int64
                        type: integer
                      high:
                        format: int64
                        type: integer
                      low:
                        format: int64
                        type: integer
                      medium:
                        format: int64
                        type: integer
                      negligible:
                        format: int64
                        type: integer
                      no_issue:
                        format: int64
                        type: integer
                    type: object
                  total_image:
                    format: int64
                    type: integer
                  total_malware:
                    format: int64
                    type: integer
                  total_sensitive_data:
                    format: int64
                    type: integer
                  updated_at:
                    format: double
                    type: number
                type: object
          description: 200 response
          headers:
            Allow:
              schema:
                type: string
            Server:
              schema:
                type: string
            Vary:
              schema:
                type: string
      security:
      - bearer: []
      servers:
      - url: http://api-divy.dev.accuknox.com
  /api/v1/findings/findings-chart-data:
    get:
      operationId: GET /api/v1/findings/findings-chart-data
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: Tenant-Id
        schema:
          format: int64
          type: integer
      - in: query
        name: date_from
        schema:
          type: string
          x-akita-format:
            formats:
            - iso_8601_year_month_day
            kind: datetime
      - in: query
        name: date_to
        schema:
          type: string
          x-akita-format:
            formats:
            - iso_8601_year_month_day
            kind: datetime
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                  x-akita-info: Akita only saw empty lists for this field, so we picked
                    type `string` for the list elements by default.
                type: array
          description: 200 response
          headers:
            Allow:
              schema:
                type: string
            Server:
              schema:
                type: string
            Vary:
              schema:
                type: string
      security:
      - bearer: []
      servers:
      - url: http://api-divy.dev.accuknox.com
  /api/v1/query_range:
    get:
      operationId: GET /api/v1/query_range
      parameters:
      - in: header
        name: Access-Control-Allow-Credentials
        schema:
          type: boolean
      - in: header
        name: Access-Control-Allow-Headers
        schema:
          type: string
      - in: header
        name: Access-Control-Allow-Methods
        schema:
          type: string
      - in: header
        name: Access-Control-Allow-Origin
        schema:
          type: string
          x-akita-format:
            formats:
            - url
            kind: uri
      - in: header
        name: Access-Control-Max-Age
        schema:
          format: int64
          type: integer
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: query
        name: end
        schema:
          format: int64
          type: integer
          x-akita-format:
            formats:
            - timestamp_seconds_since_epoch
            kind: datetime
      - in: query
        name: query
        schema:
          type: string
      - in: query
        name: start
        schema:
          format: int64
          type: integer
          x-akita-format:
            formats:
            - timestamp_seconds_since_epoch
            kind: datetime
      - in: query
        name: step
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      result:
                        items:
                          type: string
                          x-akita-info: Akita only saw empty lists for this field,
                            so we picked type `string` for the list elements by default.
                        type: array
                      resultType:
                        type: string
                    type: object
                  status:
                    type: string
                type: object
          description: 200 response
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Expose-Headers:
              schema:
                type: string
            Access-Control-Max-Age:
              schema:
                format: int64
                type: integer
            Cf-Cache-Status:
              schema:
                type: string
            Cf-Ray:
              schema:
                type: string
            Nel:
              schema:
                type: string
            Report-To:
              schema:
                type: string
            Server:
              schema:
                type: string
            Vary:
              schema:
                type: string
      security:
      - basic: []
      servers:
      - url: http://prometheus-dev.accuknox.com
  /api/v1/scans/scans-chart-data:
    get:
      operationId: GET /api/v1/scans/scans-chart-data
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: Tenant-Id
        schema:
          format: int64
          type: integer
      - in: query
        name: date_from
        schema:
          type: string
          x-akita-format:
            formats:
            - iso_8601_year_month_day
            kind: datetime
      - in: query
        name: date_to
        schema:
          type: string
          x-akita-format:
            formats:
            - iso_8601_year_month_day
            kind: datetime
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                  x-akita-info: Akita only saw empty lists for this field, so we picked
                    type `string` for the list elements by default.
                type: array
          description: 200 response
          headers:
            Allow:
              schema:
                type: string
            Server:
              schema:
                type: string
            Vary:
              schema:
                type: string
      security:
      - bearer: []
      servers:
      - url: http://api-divy.dev.accuknox.com
  /cluster-onboarding:
    get:
      operationId: GET /cluster-onboarding
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Fetch-User
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: cookie
        name: __cfruid
        schema:
          type: string
      - in: cookie
        name: intercom-device-id-tvzzvnz7
        schema:
          type: string
          x-akita-format:
            formats:
            - uuid
            kind: unique_id
      - in: cookie
        name: intercom-id-tvzzvnz7
        schema:
          type: string
          x-akita-format:
            formats:
            - uuid
            kind: unique_id
      - in: cookie
        name: intercom-session-tvzzvnz7
        schema:
          type: string
      - in: cookie
        name: messagesUtk
        schema:
          type: string
          x-akita-format:
            formats:
            - uuid
            kind: unique_id
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: 200 response
          headers:
            Accept-Ranges:
              schema:
                type: string
            Etag:
              schema:
                type: string
            Last-Modified:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - rfc_1123
                  - rfc_2822
                  kind: datetime
      servers:
      - url: http://app-ak.accuknox.com
  /cluster-onboarding/api/v1/list-cloud-provider-cluster-locations/zones:
    get:
      operationId: GET /cluster-onboarding/api/v1/list-cloud-provider-cluster-locations/zones
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    items:
                      properties:
                        Region:
                          type: string
                        Zones:
                          items:
                            type: string
                          type: array
                      type: object
                    type: array
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
      security:
      - bearer: []
      servers:
      - url: http://api-dev.accuknox.com
  /cm/api/v1/cluster-management/all-namespaces:
    post:
      operationId: POST /cm/api/v1/cluster-management/all-namespaces
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                cluster_id:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                workspace_id:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - integer_id
                    kind: unique_id
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    items:
                      properties:
                        ID:
                          format: int64
                          type: integer
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        annotation_status:
                          type: string
                        kubearmor_file_posture:
                          type: string
                        kubearmor_network_posture:
                          type: string
                        last_updated_time:
                          type: string
                          x-akita-format:
                            formats:
                            - rfc_3339
                            kind: datetime
                        namespace:
                          type: string
                      type: object
                    type: array
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
      security:
      - bearer: []
      servers:
      - url: http://api-dev.accuknox.com
  /cm/api/v1/cluster-management/clusters-in-workspace-filter:
    post:
      operationId: POST /cm/api/v1/cluster-management/clusters-in-workspace-filter
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                from_time:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                to_time:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                workspace_id:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - integer_id
                    kind: unique_id
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    items:
                      properties:
                        ClusterName:
                          type: string
                        ID:
                          format: int64
                          type: integer
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        WorkspaceID:
                          format: int64
                          type: integer
                      type: object
                    type: array
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
      security:
      - bearer: []
      servers:
      - url: http://api-dev-test.accuknox.com
  /cm/api/v1/cluster-management/get-all-clusters-in-workspace:
    post:
      operationId: POST /cm/api/v1/cluster-management/get-all-clusters-in-workspace
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                from_time:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                to_time:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                workspace_id:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - integer_id
                    kind: unique_id
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    items:
                      properties:
                        ClusterName:
                          type: string
                        ID:
                          format: int64
                          type: integer
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        Location:
                          type: string
                        WorkspaceID:
                          format: int64
                          type: integer
                        last_updated_time:
                          type: string
                      type: object
                    type: array
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
      security:
      - bearer: []
      servers:
      - url: http://api-dev.accuknox.com
  /cm/api/v1/cluster-management/get-cluster-entity-info:
    post:
      operationId: POST /cm/api/v1/cluster-management/get-cluster-entity-info
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                cluster_id:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - integer_id
                    kind: unique_id
                from_time:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                to_time:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      AlertsCount:
                        format: int64
                        type: integer
                      LabelCount:
                        format: int64
                        type: integer
                      NamespaceCount:
                        format: int64
                        type: integer
                      NodeCount:
                        format: int64
                        type: integer
                      PodCount:
                        format: int64
                        type: integer
                      PolicyCount:
                        format: int64
                        type: integer
                      cluster_id:
                        format: int64
                        type: integer
                        x-akita-format:
                          formats:
                          - integer_id
                          kind: unique_id
                    type: object
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
      security:
      - bearer: []
      servers:
      - url: http://api-dev.accuknox.com
  /cm/api/v1/cluster-management/get-pod-meta-data-count:
    post:
      operationId: POST /cm/api/v1/cluster-management/get-pod-meta-data-count
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                from_time:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                pod_id:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - integer_id
                    kind: unique_id
                to_time:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      AlertsCount:
                        format: int64
                        type: integer
                      ContainerCount:
                        format: int64
                        type: integer
                      ID:
                        format: int64
                        type: integer
                        x-akita-format:
                          formats:
                          - integer_id
                          kind: unique_id
                      LabelCount:
                        format: int64
                        type: integer
                      PolicyCount:
                        format: int64
                        type: integer
                    type: object
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
      security:
      - bearer: []
      servers:
      - url: http://api-dev-test.accuknox.com
  /cm/api/v1/cluster-management/get-pods:
    post:
      operationId: POST /cm/api/v1/cluster-management/get-pods
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                cluster_id:
                  items:
                    format: int64
                    type: integer
                    x-akita-format:
                      formats:
                      - integer_id
                      kind: unique_id
                  type: array
                from_time:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                namespace_id:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                node_id:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                to_time:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                workspace_id:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - integer_id
                    kind: unique_id
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  properties:
                    ClusterID:
                      format: int64
                      type: integer
                    ID:
                      format: int64
                      type: integer
                      x-akita-format:
                        formats:
                        - integer_id
                        kind: unique_id
                    Location:
                      type: string
                    NodeID:
                      format: int64
                      type: integer
                    WorkspaceID:
                      format: int64
                      type: integer
                    default_posture:
                      type: string
                    kubearmor_file_posture:
                      type: string
                    kubearmor_network_posture:
                      type: string
                    last_updated_time:
                      type: string
                    namespace:
                      type: string
                    namespace_id:
                      format: int64
                      type: integer
                      x-akita-format:
                        formats:
                        - integer_id
                        kind: unique_id
                    podname:
                      type: string
                    workload_id:
                      format: int64
                      type: integer
                      x-akita-format:
                        formats:
                        - integer_id
                        kind: unique_id
                  type: object
                type: array
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
      security:
      - bearer: []
      servers:
      - url: http://api-dev-test.accuknox.com
  /cm/api/v1/cluster-management/pods-in-node-filter:
    post:
      operationId: POST /cm/api/v1/cluster-management/pods-in-node-filter
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                Filter:
                  type: object
                cluster_id:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                from_time:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                namespace_id:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                node_id:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                to_time:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                workspace_id:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - integer_id
                    kind: unique_id
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    items:
                      properties:
                        ClusterID:
                          format: int64
                          type: integer
                        ContainerCount:
                          format: int64
                          type: integer
                        ID:
                          format: int64
                          type: integer
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        NodeID:
                          format: int64
                          type: integer
                        PodName:
                          type: string
                        WorkspaceID:
                          format: int64
                          type: integer
                      type: object
                    type: array
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
      security:
      - bearer: []
      servers:
      - url: http://api-dev-test.accuknox.com
  /cm/api/v1/vm-management/search-navbar:
    post:
      operationId: POST /cm/api/v1/vm-management/search-navbar
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                search_query:
                  type: string
                workspace_id:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - integer_id
                    kind: unique_id
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  ListOfInstanceData:
                    type: string
                    x-akita-info: Akita only saw null for this field, so we picked
                      type `nullable string` for it by default.
                  ListOfInstanceGroupData:
                    items:
                      properties:
                        entity_type:
                          type: string
                        instance_group_id:
                          format: int64
                          type: integer
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        instance_group_name:
                          type: string
                      type: object
                    type: array
                  ListOfNodeData:
                    items:
                      properties:
                        cluster_id:
                          format: int64
                          type: integer
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        cluster_name:
                          type: string
                        entity_type:
                          type: string
                        node_id:
                          format: int64
                          type: integer
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        node_name:
                          type: string
                      type: object
                    type: array
                  ListOfPodData:
                    items:
                      properties:
                        cluster_id:
                          format: int64
                          type: integer
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        cluster_name:
                          type: string
                        entity_type:
                          type: string
                        node_id:
                          format: int64
                          type: integer
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        node_name:
                          type: string
                        pod_id:
                          format: int64
                          type: integer
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        pod_name:
                          type: string
                      type: object
                    type: array
                  list_of_cluster_data:
                    items:
                      properties:
                        cluster_id:
                          format: int64
                          type: integer
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        cluster_name:
                          type: string
                        entity_type:
                          type: string
                      type: object
                    type: array
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
      security:
      - bearer: []
      servers:
      - url: http://api-dev-test.accuknox.com
  /cm/api/v1/vm-management/vm-navbar:
    post:
      operationId: POST /cm/api/v1/vm-management/vm-navbar
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                from_time:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                query:
                  type: string
                to_time:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                workspace_id:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - integer_id
                    kind: unique_id
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  list_of_instance_group:
                    items:
                      properties:
                        group_name:
                          type: string
                        id:
                          format: int64
                          type: integer
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        instances:
                          type: string
                          x-akita-info: Akita only saw null for this field, so we
                            picked type `nullable string` for it by default.
                      type: object
                    type: array
                  total_record:
                    format: int64
                    type: integer
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
      security:
      - bearer: []
      servers:
      - url: http://api-dev-test.accuknox.com
  /css2:
    get:
      operationId: GET /css2
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: query
        name: display
        schema:
          type: string
      - in: query
        name: family
        schema:
          type: string
      responses:
        "200":
          content:
            text/css:
              schema:
                format: binary
                type: string
          description: 200 response
          headers:
            Alt-Svc:
              schema:
                type: string
            Cross-Origin-Opener-Policy:
              schema:
                type: string
            Cross-Origin-Resource-Policy:
              schema:
                type: string
            Expires:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - rfc_1123
                  - rfc_2822
                  kind: datetime
            Last-Modified:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - rfc_1123
                  - rfc_2822
                  kind: datetime
            Link:
              schema:
                type: string
            Server:
              schema:
                type: string
            Timing-Allow-Origin:
              schema:
                type: string
      servers:
      - url: http://fonts.googleapis.com
  /datapipeline/v3/alerts/fields:
    post:
      operationId: POST /datapipeline/v3/alerts/fields
      parameters:
      - in: header
        name: Access-Control-Max-Age
        schema:
          format: int64
          type: integer
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                ClusterID:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                Component:
                  type: string
                FromTime:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - timestamp_seconds_since_epoch
                    kind: datetime
                Namespace:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                ToTime:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - timestamp_seconds_since_epoch
                    kind: datetime
                Type:
                  type: string
                WorkspaceID:
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  fields:
                    properties:
                      keys:
                        items:
                          type: string
                        type: array
                      values:
                        type: object
                    type: object
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-B3-Parentspanid:
              schema:
                type: string
            X-B3-Sampled:
              schema:
                format: int64
                type: integer
            X-B3-Spanid:
              schema:
                type: string
            X-B3-Traceid:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - uuid
                  kind: unique_id
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
            X-Request-Id:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - uuid
                  kind: unique_id
      security:
      - bearer: []
      servers:
      - url: http://api-dev.accuknox.com
  /datapipeline/v3/alerts/kubearmor:
    post:
      operationId: POST /datapipeline/v3/alerts/kubearmor
      parameters:
      - in: header
        name: Access-Control-Max-Age
        schema:
          format: int64
          type: integer
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                ClusterID:
                  items:
                    type: string
                  type: array
                Filters:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                FromTime:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - timestamp_seconds_since_epoch
                    kind: datetime
                Namespace:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                PageId:
                  format: int64
                  type: integer
                PageSize:
                  format: int64
                  type: integer
                ToTime:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - timestamp_seconds_since_epoch
                    kind: datetime
                WorkspaceID:
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  response:
                    type: string
                    x-akita-info: Akita only saw null for this field, so we picked
                      type `nullable string` for it by default.
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-B3-Parentspanid:
              schema:
                type: string
            X-B3-Sampled:
              schema:
                format: int64
                type: integer
            X-B3-Spanid:
              schema:
                type: string
            X-B3-Traceid:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - uuid
                  kind: unique_id
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
            X-Request-Id:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - uuid
                  kind: unique_id
      security:
      - bearer: []
      servers:
      - url: http://api-dev.accuknox.com
  /datapipeline/v3/alerts/kubearmor/count:
    post:
      operationId: POST /datapipeline/v3/alerts/kubearmor/count
      parameters:
      - in: header
        name: Access-Control-Max-Age
        schema:
          format: int64
          type: integer
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                ClusterID:
                  items:
                    type: string
                  type: array
                Filters:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                FromTime:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - timestamp_seconds_since_epoch
                    kind: datetime
                Namespace:
                  items:
                    type: string
                    x-akita-info: Akita only saw empty lists for this field, so we
                      picked type `string` for the list elements by default.
                  type: array
                ToTime:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - timestamp_seconds_since_epoch
                    kind: datetime
                WorkspaceID:
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    format: int64
                    type: integer
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-B3-Parentspanid:
              schema:
                type: string
            X-B3-Sampled:
              schema:
                format: int64
                type: integer
            X-B3-Spanid:
              schema:
                type: string
            X-B3-Traceid:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - uuid
                  kind: unique_id
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
            X-Request-Id:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - uuid
                  kind: unique_id
      security:
      - bearer: []
      servers:
      - url: http://api-dev.accuknox.com
  /datapipelineapi/editTriggers:
    post:
      operationId: POST /datapipelineapi/editTriggers
      parameters:
      - in: header
        name: Access-Control-Max-Age
        schema:
          format: int64
          type: integer
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  apiResponse:
                    type: string
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-B3-Parentspanid:
              schema:
                type: string
            X-B3-Sampled:
              schema:
                format: int64
                type: integer
            X-B3-Spanid:
              schema:
                type: string
            X-B3-Traceid:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - uuid
                  kind: unique_id
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
            X-Request-Id:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - uuid
                  kind: unique_id
      security:
      - bearer: []
      servers:
      - url: http://api-dev.accuknox.com
  /datapipelineapi/fetchFilters:
    post:
      operationId: POST /datapipelineapi/fetchFilters
      parameters:
      - in: header
        name: Access-Control-Max-Age
        schema:
          format: int64
          type: integer
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  apiResponse:
                    items:
                      properties:
                        Filter_id:
                          format: int64
                          type: integer
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        Filter_query:
                          type: string
                        Filter_string:
                          type: string
                        Filter_type:
                          type: string
                        Name:
                          type: string
                        Status:
                          type: string
                        Tenant_id:
                          type: string
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                      type: object
                    type: array
                  count:
                    format: int64
                    type: integer
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-B3-Parentspanid:
              schema:
                type: string
            X-B3-Sampled:
              schema:
                format: int64
                type: integer
            X-B3-Spanid:
              schema:
                type: string
            X-B3-Traceid:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - uuid
                  kind: unique_id
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
            X-Request-Id:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - uuid
                  kind: unique_id
      security:
      - bearer: []
      servers:
      - url: http://api-dev.accuknox.com
  /datapipelineapi/fetchTriggers:
    post:
      operationId: POST /datapipelineapi/fetchTriggers
      parameters:
      - in: header
        name: Access-Control-Max-Age
        schema:
          format: int64
          type: integer
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  apiResponse:
                    items:
                      properties:
                        CHANNEL_ID:
                          type: string
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        CHANNEL_NAME:
                          type: string
                        CREATED_AT:
                          type: string
                        FILTER_ID:
                          type: string
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        FILTER_QUERY:
                          type: string
                        FILTERS:
                          type: string
                        FREQUENCY:
                          type: string
                        PRIORITY:
                          type: string
                        STATUS:
                          type: string
                        TENANT_ID:
                          type: string
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        TOGGLE:
                          type: string
                        TRIGGER_ID:
                          format: int64
                          type: integer
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        TRIGGER_NAME:
                          type: string
                      type: object
                    type: array
                  count:
                    format: int64
                    type: integer
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-B3-Parentspanid:
              schema:
                type: string
            X-B3-Sampled:
              schema:
                format: int64
                type: integer
            X-B3-Spanid:
              schema:
                type: string
            X-B3-Traceid:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - uuid
                  kind: unique_id
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
            X-Request-Id:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - uuid
                  kind: unique_id
      security:
      - bearer: []
      servers:
      - url: http://api-dev.accuknox.com
  /datapipelineapi/integrationlist:
    post:
      operationId: POST /datapipelineapi/integrationlist
      parameters:
      - in: header
        name: Access-Control-Max-Age
        schema:
          format: int64
          type: integer
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  Cloudwatch:
                    items:
                      properties:
                        Channel_id:
                          type: string
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        Channel_name:
                          type: string
                        Integration_name:
                          type: string
                        Status:
                          type: string
                      type: object
                    type: array
                  ElasticSearch:
                    items:
                      properties:
                        Channel_id:
                          type: string
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        Channel_name:
                          type: string
                        Integration_name:
                          type: string
                        Status:
                          type: string
                      type: object
                    type: array
                  Jira:
                    items:
                      type: string
                      x-akita-info: Akita only saw empty lists for this field, so
                        we picked type `string` for the list elements by default.
                    type: array
                  Rsyslog:
                    items:
                      properties:
                        Channel_id:
                          type: string
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        Channel_name:
                          type: string
                        Integration_name:
                          type: string
                        Port:
                          type: string
                        Server_address:
                          type: string
                        Status:
                          type: string
                        Transport:
                          type: string
                      type: object
                    type: array
                  Slack:
                    items:
                      properties:
                        Channel_id:
                          type: string
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        Channel_name:
                          type: string
                        Integration_name:
                          type: string
                        Status:
                          type: string
                      type: object
                    type: array
                  Splunk:
                    items:
                      properties:
                        Channel_id:
                          type: string
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        Channel_name:
                          type: string
                        Integration_name:
                          type: string
                        Status:
                          type: string
                      type: object
                    type: array
                  count:
                    format: int64
                    type: integer
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-B3-Parentspanid:
              schema:
                type: string
            X-B3-Sampled:
              schema:
                format: int64
                type: integer
            X-B3-Spanid:
              schema:
                type: string
            X-B3-Traceid:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - uuid
                  kind: unique_id
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
            X-Request-Id:
              schema:
                type: string
                x-akita-format:
                  formats:
                  - uuid
                  kind: unique_id
      security:
      - bearer: []
      servers:
      - url: http://api-dev.accuknox.com
  /messenger/web/ping:
    post:
      operationId: POST /messenger/web/ping
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Idempotency-Key:
                  type: string
                anonymous_session:
                  type: string
                app_id:
                  type: string
                device_identifier:
                  type: string
                  x-akita-format:
                    formats:
                    - uuid
                    kind: unique_id
                g:
                  type: string
                internal:
                  type: string
                is_intersection_booted:
                  type: boolean
                page_title:
                  type: string
                platform:
                  type: string
                r:
                  type: string
                referer:
                  type: string
                s:
                  type: string
                  x-akita-format:
                    formats:
                    - uuid
                    kind: unique_id
                sampling:
                  type: boolean
                source:
                  type: string
                user_active_company_id:
                  oneOf:
                  - format: int64
                    type: integer
                  - type: string
                  x-akita-potential-conflict: true
                user_data:
                  type: string
                v:
                  format: int64
                  type: integer
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  anonymous_session:
                    type: string
                  app:
                    properties:
                      access_to_teammate_enabled:
                        type: string
                        x-akita-info: Akita only saw null for this field, so we picked
                          type `nullable string` for it by default.
                      active_admins:
                        type: string
                        x-akita-info: Akita only saw null for this field, so we picked
                          type `nullable string` for it by default.
                      audio_enabled:
                        type: boolean
                      developer_workspace:
                        type: boolean
                      expected_response_delay_translation_key:
                        type: string
                      help_center_site_url:
                        type: string
                        x-akita-info: Akita only saw null for this field, so we picked
                          type `nullable string` for it by default.
                      inbound_conversations_disabled:
                        type: boolean
                      launcher_expected_response_delay_translation_key:
                        type: string
                      launcher_logo_url:
                        type: string
                        x-akita-info: Akita only saw null for this field, so we picked
                          type `nullable string` for it by default.
                      localized_expected_response_delay_long_text:
                        type: string
                      localized_expected_response_delay_short_text:
                        type: string
                      messenger_background:
                        type: string
                      messenger_logo_url:
                        type: string
                        x-akita-info: Akita only saw null for this field, so we picked
                          type `nullable string` for it by default.
                      name:
                        type: string
                      office_hours_response:
                        type: string
                      self_serve_suggestions_match:
                        type: string
                        x-akita-info: Akita only saw null for this field, so we picked
                          type `nullable string` for it by default.
                      show_powered_by:
                        type: boolean
                      sms_notifications_enabled:
                        type: boolean
                      team_greeting:
                        type: string
                      team_intro:
                        type: string
                      temporary_expectations_message:
                        type: string
                      upfront_email_collection_setting:
                        type: string
                      use_cache_for:
                        items:
                          type: string
                          x-akita-info: Akita only saw empty lists for this field,
                            so we picked type `string` for the list elements by default.
                        type: array
                      user_conversation_attachments_enabled:
                        type: boolean
                      user_conversation_gifs_enabled:
                        type: boolean
                    type: object
                  cdas_breaching_limit:
                    items:
                      type: string
                      x-akita-info: Akita only saw empty lists for this field, so
                        we picked type `string` for the list elements by default.
                    type: array
                  client_matches:
                    items:
                      type: string
                      x-akita-info: Akita only saw empty lists for this field, so
                        we picked type `string` for the list elements by default.
                    type: array
                  client_messages:
                    items:
                      type: string
                      x-akita-info: Akita only saw empty lists for this field, so
                        we picked type `string` for the list elements by default.
                    type: array
                  identity_verification_ready:
                    type: boolean
                  modules:
                    properties:
                      customization:
                        properties:
                          alignment:
                            type: string
                          brand_name:
                            type: string
                          horizontal_padding:
                            format: int64
                            type: integer
                          launcher_logo_url:
                            type: string
                            x-akita-info: Akita only saw null for this field, so we
                              picked type `nullable string` for it by default.
                          messenger_logo_url:
                            type: string
                            x-akita-info: Akita only saw null for this field, so we
                              picked type `nullable string` for it by default.
                          messenger_wallpaper:
                            type: string
                          vertical_padding:
                            format: int64
                            type: integer
                        type: object
                      error_reporting:
                        properties:
                          disabled:
                            type: boolean
                        type: object
                      messages:
                        properties:
                          activator:
                            type: string
                            x-akita-info: Akita only saw null for this field, so we
                              picked type `nullable string` for it by default.
                          can_use_messenger:
                            type: boolean
                          colors:
                            properties:
                              base:
                                type: string
                              secondary:
                                type: string
                            type: object
                          features:
                            properties:
                              checklist_completion_screen:
                                type: boolean
                              checklists:
                                type: boolean
                              checklists_hidden_tab_navigation:
                                type: boolean
                              cookie_secure_flag:
                                type: boolean
                              cross_site_cookies:
                                type: boolean
                              device_identifier_cookie:
                                type: boolean
                              google_analytics:
                                type: boolean
                              google_analytics_4_integration:
                                type: boolean
                              home_screen_article_suggestions:
                                type: boolean
                              hubspot_installed:
                                type: boolean
                              inbound_lead_messaging:
                                type: boolean
                              inbound_lead_messaging_docs_site:
                                type: boolean
                              inbound_messages:
                                type: boolean
                              launcher_discovery_mode:
                                type: boolean
                              marketo_enrichment_installed:
                                type: boolean
                              news_items:
                                type: boolean
                              no_rb_behavior_in_ping:
                                type: boolean
                              outbound_messages:
                                type: boolean
                              periodic_evaluator:
                                type: boolean
                              render_native_picker_in_mobile:
                                type: boolean
                              rtm:
                                type: boolean
                              single_page_app_rate_limiting:
                                type: boolean
                              ticket_creation:
                                type: boolean
                              tickets_api_v2:
                                type: boolean
                            type: object
                          google_analytics_tracking_id:
                            type: string
                            x-akita-info: Akita only saw null for this field, so we
                              picked type `nullable string` for it by default.
                          instant_boot_enabled:
                            type: boolean
                          show_launcher:
                            type: boolean
                          use_activator:
                            type: boolean
                        type: object
                      metrics:
                        properties:
                          enabled:
                            type: boolean
                        type: object
                      rtm:
                        properties:
                          endpoints:
                            items:
                              type: string
                              x-akita-format:
                                formats:
                                - url
                                kind: uri
                            type: array
                        type: object
                    type: object
                  origin_cookie_domain:
                    type: string
                  unread_conversation_ids:
                    items:
                      type: string
                      x-akita-info: Akita only saw empty lists for this field, so
                        we picked type `string` for the list elements by default.
                    type: array
                  unread_dismissed_conversation_ids:
                    items:
                      type: string
                      x-akita-info: Akita only saw empty lists for this field, so
                        we picked type `string` for the list elements by default.
                    type: array
                  user:
                    properties:
                      country_code:
                        type: string
                      has_conversations:
                        type: boolean
                      help_center_require_search:
                        type: boolean
                      home_screen_slots:
                        items:
                          properties:
                            slot_type:
                              type: string
                          type: object
                        type: array
                      id:
                        type: string
                      locale:
                        type: string
                        x-akita-format:
                          formats:
                          - iso_639_1
                          kind: language
                      new_session:
                        type: boolean
                      prevent_multiple_inbound_conversation:
                        type: boolean
                      requires_cookie_consent:
                        type: boolean
                      role:
                        type: string
                      type:
                        type: string
                      user_assignments:
                        type: object
                    type: object
                type: object
          description: 200 response
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Etag:
              schema:
                type: string
            Server:
              schema:
                type: string
            Status:
              schema:
                type: string
            Vary:
              schema:
                type: string
            X-Ami-Version:
              schema:
                type: string
            X-Intercom-Version:
              schema:
                type: string
            X-Ratelimit-Limit:
              schema:
                format: int64
                type: integer
            X-Ratelimit-Remaining:
              schema:
                format: int64
                type: integer
            X-Ratelimit-Reset:
              schema:
                format: int64
                type: integer
                x-akita-format:
                  formats:
                  - timestamp_seconds_since_epoch
                  kind: datetime
            X-Request-Id:
              schema:
                type: string
            X-Runtime:
              schema:
                format: double
                type: number
      servers:
      - url: http://api-iam.intercom.io
  /policymanagement/api/v1/auto-discover/get-policies:
    post:
      operationId: POST /policymanagement/api/v1/auto-discover/get-policies
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                filter:
                  properties:
                    cluster_id:
                      items:
                        type: string
                        x-akita-info: Akita only saw empty lists for this field, so
                          we picked type `string` for the list elements by default.
                      type: array
                    discover:
                      properties:
                        ignore:
                          type: boolean
                        used:
                          type: boolean
                      type: object
                    infra:
                      type: string
                    kind:
                      items:
                        type: string
                        x-akita-info: Akita only saw empty lists for this field, so
                          we picked type `string` for the list elements by default.
                      type: array
                    namespace_id:
                      items:
                        type: string
                        x-akita-info: Akita only saw empty lists for this field, so
                          we picked type `string` for the list elements by default.
                      type: array
                  type: object
                page_next:
                  format: int64
                  type: integer
                page_previous:
                  format: int64
                  type: integer
                workspace_id:
                  format: int64
                  type: integer
                  x-akita-format:
                    formats:
                    - integer_id
                    kind: unique_id
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  list_of_policies:
                    items:
                      properties:
                        category:
                          type: string
                        cluster_name:
                          type: string
                        label_type:
                          type: string
                        labels:
                          items:
                            properties:
                              color:
                                type: string
                              id:
                                format: int64
                                type: integer
                                x-akita-format:
                                  formats:
                                  - integer_id
                                  kind: unique_id
                              name:
                                type: string
                              value:
                                type: string
                            type: object
                          type: array
                        name:
                          type: string
                        namespace_name:
                          type: string
                        policy_id:
                          format: int64
                          type: integer
                          x-akita-format:
                            formats:
                            - integer_id
                            kind: unique_id
                        policy_kind:
                          type: string
                        type:
                          type: string
                        updated_at:
                          type: string
                        updated_by:
                          type: string
                          x-akita-format:
                            formats:
                            - uuid
                            kind: unique_id
                      type: object
                    type: array
                  total_record:
                    format: int64
                    type: integer
                type: object
          description: 200 response
          headers:
            Server:
              schema:
                type: string
            X-Envoy-Upstream-Service-Time:
              schema:
                format: int64
                type: integer
      security:
      - bearer: []
      servers:
      - url: http://api-dev.accuknox.com
  /policymanagement/api/v1/policy/get-all-policies:
    post:
      operationId: POST /policymanagement/api/v1/policy/get-all-policies
      parameters:
      - in: header
        name: Pragma
        schema:
          type: string
      - in: header
        name: Sec-Gpc
        schema:
          format: int64
          type: integer
      - in: header
        name: X-Tenant-Id
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                filter:
                  properties:
                    cluster_id:
                      items:
                        format: int64
                        type: integer
                        x-akita-format:
                          formats:
                          - integer_id
                          kind: unique_id
                      type: array
                    infra:
                      type: string
                    namespace_id:
                      items:
                        format: int64
                        type: integer
                        x-akita-format:
                          formats:
                          - integer_id
                          kind: unique_id
                      type: array
                    node_id:
                      items:
                        format: int64
                        type: integer
                        x-akita-format:
                          formats:
                          - integer_id
                          kind: unique_id
                      type: array
                    pod_id:
                      items:
                        format: int64
                        type: integer
                        x-akita-format:
                          formats:
                          - integer_id
                          kind: unique_id
                      type: array
                    status:
                      items:
                        type: string
                        x-akita-info: Akita only saw empty lists for this field, so
                          we picked type `string` for the list elements by default.
                      type: array
                    type:
                      items:
[...]
